<!-- Code for Call Public Performance -->
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- {% load static %} -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="{% static 'webpage/Images/iconlogo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    {% comment %} Google Fonts {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jacquard+24+Charted&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <title>Second Level Screening Result</title>
</head>

<body class="bg-gradient-to-l from-blue-200 via-slate-100 to-pink-200" style="font-family: 'Nunito Sans', sans-serif;">

    <!-- Header cum Navbar -->
    <div class="mx-auto w-full bg-white top-0 z-50 shadow-md py-1 bg-blend-screen sticky" style="top: 0%;">
        <div class="mx-auto container px-4 flex flex-row justify-between items-center">
            <a href="#" class="lg:w-60">
                <img src="../Images/logo.png" class="animate-pulse" alt="" width="200px">
            </a>

            <div class="hidden my-4 mb-2 lg:flex justify-between items-center flex-wrap gap-4 lg:gap-12">
                <a id="#" href="/" class="text-xl font-semimbold
                          text-black hover:font-bold hover:underline underline-offset-8 ">Home</a>
                </button>
                <a id="#" href="/logout">
                    <button type="button" class="shadow-md py-3 px-8 rounded-md transition duration-300 text-lg active:translate-y-1
          font-medium bg-transparent text-gray-800 border-2 border-gray-800 hover:scale-110">LOG OUT</button>
                </a>
            </div>
            <!-- Drop Down Section -->
            <div class="px-8 py-4 w-1/3 cursor-pointer relative group lg:hidden flex justify-end z-50">
                <span class="text-black font-extrabold ml-4">
                    <i class="fa fa-bars" onclick="openMenu()"></i>
                </span>
                <div id="hamburgerMenu"
                    class=" absolute w-full left-0 top-full shadow-md-py-3 bg-gray-50 divide-y-2 divide-gray-00 hidden group-hover:block shadow-md ">
                    <a href="/"
                        class="flex items-center px-2 md:px-6 py-2 rounded-md hover:bg-indigo-500 text-gray-800 hover:text-white transition">
                        <span class="ml-1  text-lg text-end font-normal">Home</span>
                    </a>
                    <a href="/logout"
                        class="flex items-center  gap-2 px-2 py-2 md:px-6  my-0.5 rounded-md bg-slate-100  hover:bg-indigo-500 text-gray-800 hover:text-white transition">
                        <button type=" button" class="ml-1  text-lg text-end font-normal ">Log Out</button>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    </a>
                </div>
            </div>
            <!-- Drop Down Section End -->
        </div>
    </div>
    <!-- Header cum Navbar End -->

    <!-- Heading & Serachbar -->
    <div class="mx-auto flex flex-row justify-between items-center py-4 px-4 md:px-8 lg:px-16 mt-2 gap-8 ">
        <!-- Heading Portion -->
        <h2 name="ibased" class="text-2xl lg:text-4xl font-semibold text-gray-600 tracking-wide">Second Level Screening
            Results</h2>
        <!-- Heading Portion End -->
        <div class="flex w-full lg:w-1/2 gap-4 justify-between">
            <!-- SearchBar -->
            <form class="w-full shadow-sm">
                <label for="default-search shadow-md"
                    class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search" data-table="customers-list" class="form-control search-input block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 
                        focus:ring-blue-500 focus:border-blue-500" placeholder="Search Any Keyword">
                </div>
            </form>
            <!-- SearchBar End -->
        </div>
    </div>
    <!-- Heading & Serachbar End -->

    <div class="mx-auto px-2 py-1 ">
        <!-- Table of Contents -->
        <div class="lg:table-auto overflow-x-auto sm:rounded-lg py-4">
            <table id="myTable"
                class="customers-list border-collapse border border-slate-400 rounded-md w-full text-md text-left text-gray-700 ">
                <!-- Table Heading -->
                <thead class="text-md text-gray-700 uppercase bg-transparent ">
                    <tr class="text-center text-md tracking-wide">
                        <th scope="col" class="px-2 md:px-4  py-3 border-y border-slate-800 ">
                            Candidate Name
                        </th>
                        <th scope="col" class="px-2 md:px-8  py-3 border-y border-slate-800 ">
                            Job Title
                        </th>
                        <th scope="col" class="px-2 md:px-8  py-3 border-y border-slate-800 ">
                            Posted On
                        </th>
                        <th scope="col" class="px-2 md:px-8  py-3 border-y border-slate-800 ">
                            Total Questions
                        </th>
                        <th scope="col" class="px-2 md:px-8  py-3 border-y border-slate-800 ">
                            Appeared on
                        </th>
                        <th scope="col" class="px-2 md:px-8  py-3 border-y border-slate-800 ">
                            Status
                        </th>
                        <th scope="col" class="px-2 md:px-4  py-3 border-y border-slate-800 ">
                            Details
                        </th>
                    </tr>
                </thead>
                <!-- Table Heading End -->

                <!-- Table Body -->
                <tbody>
                    <!-- Row 1 Data -->
                    {% if interviews %}
                    {% for intv,j,k, appli in interviews %}
                    <tr class="bg-transparent hover:shadow-lg hover:bg-slate-50 text-center font-medium">
                        <th scope="row" class="px-2 md:px-4  py-4  text-gray-900 ">
                            {{j}}
                        </th>
                        <th scope="row" class="px-2 md:px-4  py-4  text-gray-900 ">
                            {{intv.interview_subject}}
                        </th>
                        <td class="px-2 md:px-8  py-4">
                            {{k}}
                        </td>
                        <td class="px-2 md:px-8  py-4">
                            {{intv.total_questions}}
                        </td>
                        {% if intv.interview_date %}
                        <td class="px-2 md:px-8  py-4">
                            {{intv.interview_date}}
                        </td>
                        {% else %}
                        <td class="px-2 md:px-8  py-4">
                            Yet to Appear
                        </td>
                        {% endif %}
                        {% if appli == '2nd Level' %}
                        <th scope="row" class="px-2 md:px-4  py-4  text-gray-900 ">
                            Not Decided 
                        </th>
                        {% elif appli == 'Invited' %}
                        <th scope="row" class="px-2 md:px-4  py-4  text-green-700 ">
                            Invited 
                        </th>
                        {% elif appli == 'Rejected' %}
                        <th scope="row" class="px-2 md:px-4  py-4  text-red-700 ">
                            Rejected 
                        </th>
                        {% endif %}
                        <td class="px-2 md:px-4  py-4">
                            {% if intv.interview_date %}
                            <a href="/recruiter/{{intv.interview_id}}" type="button" name="viewdetails"
                                class="modal-open block bg-gradient-to-r from-fuchsia-700 to-fuchsia-900 active:translate-y-2 active:translate-x-2
                                font-medium text-md font-sans hover:shadow-lg duration-500 text-white rounded-xl shadow-md w-full mt-2.5 px-auto py-2">
                                View Details</button>
                            {% else %}
                           
                                --
          
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    <!-- Row 1 Data End -->
                </tbody>
                <!-- Table Body End -->
            </table>


            <!-- Pagination Section -->

            <!-- <nav aria-label="Page navigation example"
                class="flex justify-self-center fixed bg-white w-full mx-auto py-2 px-4" style="bottom: 0px; left: 80%;">
                <div class="flex justify-center items-center">
                    <ul class="flex items-center -space-x-px h-10 text-base">
                        <li>
                            <a href="#" class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border
                border-gray-300 rounded-l-xl hover:bg-red-500 hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M11.25 9l-3 3m0 0l3 3m-3-3h7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>

                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center hover:bg-red-500 hover:text-white justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300">1</a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center hover:bg-red-500 hover:text-white justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300">2</a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center hover:bg-red-500 hover:text-white justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300">3</a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center hover:bg-red-500 hover:text-white justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300">4</a>
                        </li>
                        <li>
                            <a href="#"
                                class="flex items-center hover:bg-red-500 hover:text-white justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300">5</a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border
                 border-gray-300 rounded-r-xl hover:bg-red-500 hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>

                            </a>
                        </li>
                    </ul>
                </div>
            </nav> -->

            <!-- Pagination End -->
        </div>

    </div>
    <!-- Table of Contents End -->

    <script>
        function openMenu() {
            var x = document.getElementById("hamburgerMenu");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }

        (function (document) {
            'use strict';

            var TableFilter = (function (myArray) {
                var search_input;

                function _onInputSearch(e) {
                    search_input = e.target;
                    var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                    myArray.forEach.call(tables, function (table) {
                        myArray.forEach.call(table.tBodies, function (tbody) {
                            myArray.forEach.call(tbody.rows, function (row) {
                                var text_content = row.textContent.toLowerCase();
                                var search_val = search_input.value.toLowerCase();
                                row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                            });
                        });
                    });
                }

                return {
                    init: function () {
                        var inputs = document.getElementsByClassName('search-input');
                        myArray.forEach.call(inputs, function (input) {
                            input.oninput = _onInputSearch;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function () {
                if (document.readyState === 'complete') {
                    TableFilter.init();
                }
            });

        })(document);
    </script>
</body>

</html>

</html>